* {
    margin: 0;
    padding: 0;
}
.game {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #414141;
}
.card {
    height: 25%;
    width: 25%;
    float: left;
}
.flipper {
    height: 96%;
    width: 98%;
}
.b, .f {
    height: 100%;
    width: 100%;
}
.b {
    display: block;
    background: #345a5a;
}
.f {
    display: none;
    font-size: 1000%;
    text-align: center;
    color: #b4bebe;
    background: #9f4545;
}
.card.active .flipper .b {
    display: none;
}
.card.active .flipper .f {
    display: block;
}
.card.out {
    visibility: hidden;
}
