* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background-color);
}

.theme-1 {
    --background-color: #F8EDE3;
    --background-card-front-color: #BDD2B6;
    --background-card-back-color: #A2B29F;
    --text-color: #575b5b;
}

.theme-2  {
    --background-color: #9dd9d2;
    --background-card-front-color: #ff8811;
    --background-card-back-color: #f4d06f;
    --text-color: #fff8f0;
}

.theme-3  {
    --background-color: #575366;
    --background-card-front-color: #5762d5;
    --background-card-back-color: #6e7dab;
    --text-color: #d1e3dd;
}

.game {
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
}

.progress {
    height: 40px;
    width: 100%;
}

.left {
    float: right;
    height: 20px;
    width: 50%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%), var(--background-card-back-color);
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.field {
    height: calc(100% - 40px);
    width: 100%;
    display: grid;
    grid-gap: 10px;
}

.field.hidden {
    display: none;
}

.field .f, .field .b  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.field.easy {
    grid-template-columns: repeat(4, 1fr);
}

.field.easy .f, .field.easy .b  {
    font-size: 10vh;
}

.field.medium {
    grid-template-columns: repeat(6, 1fr);
}

.field.medium .f, .field.medium .b  {
    font-size: 8vh;
}

.field.hard {
    grid-template-columns: repeat(8, 1fr);
}

.field.hard .f, .field.hard .b  {
    font-size: 6vh;
}

.card {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.flipper {
    height: 100%;
    width: 100%;
}

.b, .f {
    height: 100%;
    width: 100%;
    border-radius: 1vh;
}

.b {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%), var(--background-card-back-color);
}

.f {
    text-align: center;
    color: var(--text-color);
    background: linear-gradient(0deg, var(--background-card-front-color), var(--background-card-front-color)), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.card.active .flipper .b {
    display: none;
}

.card:not(.active) .flipper .f {
    display: none;
}

.card.out {
    visibility: hidden;
}

.card p {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card .b p {
    opacity: 0;
}

.start-screen {
    height: calc(100% - 40px);
    width: 100%;
    display: grid;
    grid-gap: 10px;
}

.start-screen.hidden {
    display: none;
}

.settings {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1vh;
    color: var(--text-color);
    background: linear-gradient(0deg, var(--background-card-front-color), var(--background-card-front-color)), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.difficulty {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.theme {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    height: 90%;
    width: 50%;
    border-radius: 1vh;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13vh;
    color: var(--text-color);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%), var(--background-card-back-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.button p {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}